@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Space Mono;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
}

.Container{
    background-color: red;
    border-radius: 1rem;
    display: grid;
    grid-template:"A B";
    padding: 0.67rem;
    max-width: 920px;
}

.InputSide{
    grid-area: A;
    padding: 26px;
}

#billInput{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

#billInput input{
    background-color: #F3F8FB;
    border: none;
    height: 2rem;
    border-radius: 6px;
}

#billInput input::placeholder{
  color: #9EB2B3;
  padding-left: 0.75rem;
  font-family: Space mono;
  font-size: 1rem;
}





.Selection{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.SelectionInputs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;

}

.SelectionInputs button, 
.SelectionInputs input{
    background-color: #004d45;
    color: #FFFFFF;
    border: none;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    font-family: Space Mono;
}

.SelectionInputs button:hover{
background-color: #a1e7df;
color: #004d45;
}

.SelectionInputs input:hover{
    background-color: #a1e7df;
    color: #004d45;
}

.SelectionInputs input::-webkit-outer-spin-button,
.SelectionInputs input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

.SelectionInputs input{
-moz-appearance: textfield;
}

.SelectionInputs input::placeholder{
color: #ffffff;
}

.SelectionInputs input:focus{
outline: 2px solid #5FABA1;
background-color: #F3F8FB;
color: #004d45;
}

.custom-input {
    position: relative;
    display: flex;
    align-items: center;
}

.custom-input input {
    text-align: center;
    padding-right: 25px;
    width: 100%;
}

.custom-input span{
    position: absolute;
    right: 10px;
    color: white;
    pointer-events: none;
}


