@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: "Space Mono";
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    background-color: var(--LightGrayishCyan);
}

:root{
/*Colors*/
/*Primary*/
--StrongCyan: hsl(172,67%,45%);

/*Neutral*/
--VeryDarkCyan: hsl(183,100%,15%);
--DarkGrayishCyan: hsl(186,14%,43%);
--GrayishCyan: hsl(184,14%,56%);
--LightGrayishCyan: hsl(185,41%,84%);
--White: hsl(0,0%,100%);
--PaleBlue: hsl(236,100%,87%);

/*Secondary*/
--Grey: hsl(210,25%,98%);
}

.heading{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    font-size: 1.2rem;
    letter-spacing: 0.35rem;
    color: var(--VeryDarkCyan);
}

.Container{
    background-color: var(--White);
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding: 0.67rem;
    max-width: 920px;
}

.InputSide{
    padding: 1rem;
}

#billInput{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

#billInput input{
    background-color: var(--Grey);
    border: none;
    height: 2rem;
    border-radius: 6px;
    text-align: right;
    font-family: "Space mono";
    font-size: 1rem;
    padding-right: 1.5rem;
}

#billInput input::placeholder{
  color: var(--DarkGrayishCyan);
  font-family: "Space mono";
  font-size: 1rem;
}

#billInput input:hover{
    outline: 2px solid var(--StrongCyan);
}

#billInput input::-webkit-outer-spin-button,
#billInput input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

#billInput input:focus{
    outline: 2px solid var(--StrongCyan);
    color: var(--VeryDarkCyan);
}


.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.input-container input {
    text-align: center;
    padding-right: 25px;
    width: 100%;
}

.input-container span{
    position: absolute;
    left: 10px;
    color: var(--DarkGrayishCyan);
    pointer-events: none;
}









.Selection{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.SelectionInputs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;

}

.SelectionInputs button, 
.SelectionInputs input{
    background-color: var(--VeryDarkCyan);
    color: var(--White);
    border: none;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    font-family: "Space Mono";
}

.SelectionInputs button:hover{
background-color: var(--StrongCyan);
color: var(--VeryDarkCyan);
}

.SelectionInputs input:hover{
    background-color: var(--StrongCyan);
    color: var(--VeryDarkCyan);
}

.SelectionInputs input::-webkit-outer-spin-button,
.SelectionInputs input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

.SelectionInputs input{
-moz-appearance: textfield;
}

.SelectionInputs input::placeholder{
color: var(--White);
}

.SelectionInputs input:focus{
outline: 2px solid var(--StrongCyan);
background-color: var(--Grey);
color: var(--VeryDarkCyan);
}

.custom-input {
    position: relative;
    display: flex;
    align-items: center;
}

.custom-input input {
    text-align: center;
    padding-right: 25px;
    width: 100%;
}

.custom-input span{
    position: absolute;
    right: 10px;
    color: var(--White);
    pointer-events: none;
}









#PeopleNumber{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

#PeopleNumber input{
    background-color: var(--Grey);
    border: none;
    height: 2rem;
    border-radius: 6px;
    text-align: right;
    font-family: "Space mono";
    font-size: 1rem;
    padding-right: 1.5rem;
}

#PeopleNumber input::placeholder{
  color: var(--DarkGrayishCyan);
  font-family: "Space mono";
  font-size: 1rem;
}

#PeopleNumber input:hover{
    outline: 2px solid var(--StrongCyan);
}

#PeopleNumber input::-webkit-outer-spin-button,
#PeopleNumber input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

#PeopleNumber input:focus{
    outline: 2px solid var(--StrongCyan);
    color: var(--VeryDarkCyan);
}




.DisplaySide{
    background-color: var(--VeryDarkCyan);
    color: var(--White);
    padding: 60px 42px 42px 42px;
    border-radius: 12px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.TipAmount{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.DisplaySide .Text h2{
    font-size: 0.71rem;
}

.DisplaySide .Text p{
    color: var(--GrayishCyan);
    font-size: 0.59rem;
}

.DisplaySide .Numbers{
    color: var(--StrongCyan);
    font-size: 1rem;
}

.ResetBtn{
width: 100%;
margin-top: auto;
height: 50px;
border-radius: 6px;
border: none;
cursor: pointer;
background-color: #26C2AD;
font-weight: 700;
font-size: 0.83rem;
color: var(--VeryDarkCyan);
}
.ResetBtn:hover{
    background-color: var(--LightGrayishCyan);
}


.input-container2{
    position: relative;
    display: flex;
    align-items: center;
}

.input-container2 input{
    text-align: center;
    width: 100%;
}

.input-container2 span{
position: absolute;
left: 10px;
}




@media (max-width: 750px) {
    .Container{
    grid-template-columns: 1fr;
    }
}